name: Filter USA files

on:
  workflow_call:

jobs:
  upload-release-asset:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      packages: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: APT Update
        run: sudo apt update

      - name: Install OSM tools
        run: sudo apt install osmium-tool osmctools

      - name: Install rust
        run: rustup toolchain install stable

      - name: "Download USA"
        uses: wei/wget@v1
        with:
          args: https://download.geofabrik.de/north-america/us-latest.osm.pbf

      - name: Filter USA for Pfaedle
        run: osmium tags-filter -o pfaedle-filtered-us-latest.osm.pbf --expressions=pfaedle-filter-all.txt us-latest.osm.pbf
  
      - name: "Split and Upload USA filtered chunks"
        env:
          GITHUB_TOKEN: ${{ secrets.GITUHB_TOKEN }}
          GH_TOKEN: ${{ github.token }}
          RELEASE_TAG: latest
        run: |
          echo "Splitting file..."
          split -b 1G --numeric-suffixes pfaedle-filtered-us-latest.osm.pbf pfaedle-filtered-us-latest-chunk-
          
          count=$(ls pfaedle-filtered-us-latest-chunk-* | wc -l)
          echo "Created $count chunks."
          echo "$count" > pfaedle-filtered-us-latest-chunk-count.txt
          
          echo "Uploading chunk count file..."
          gh release upload latest pfaedle-filtered-us-latest-chunk-count.txt --clobber

          for file in pfaedle-filtered-us-latest-chunk-*; do
            echo "Uploading chunk: $file"
            gh release upload latest "$file" --clobber
          done
        shell: bash
