name: Manual Update Trigger

on:
  workflow_dispatch:
    
permissions:
  contents: write
  packages: write

jobs:
  call-update:
    uses: ./.github/workflows/filter.yml
  call-update-norway:
    uses: ./.github/workflows/filter_norway.yml
  call-update-canada:
    uses: ./.github/workflows/filter_canada.yml
  call-update-india:
    uses: ./.github/workflows/filter_india.yml
  call-update-usa-northeast:
    uses: ./.github/workflows/usa_northeast_filter.yaml
