name: Schedule

on:
  schedule:
    - cron: '1 1 * * 1,4'

permissions:
  contents: write
  packages: write

jobs:
  call-update:
    uses: ./.github/workflows/filter.yml
  call-update-norway:
    uses: ./.github/workflows/filter_norway.yml
  call-update-india:
    uses: ./.github/workflows/filter_india.yml
  call-update-canada:
    uses: ./.github/workflows/filter_canada.yml